body {
    color: #000;
    font-size: large;
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
}

.menu {
    color: rgb(0, 0, 0);
    text-align: center;
    overflow: hidden;
    background-color: #eef3fc;
    position: fixed;
    text-decoration: none;
    top: 0;
    width: 100%;
}

.menu a {
    float: none;
    display: inline-block;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 14px;
}

.menu a:hover {
    color: blue;
    text-shadow: 1px 1px 1px;
}

.menu a:visited {
    color: rgb(0, 0, 0);
}

h1 {
    padding-top: 60px;
    color:royalblue;
    text-shadow: 1px 1px 2px;
}

.post-theme {
    color: blue;
}

.post-title {
    padding-left: 80px;
}

.post-description {
    padding-left: 160px;
}

section {
    border: lightblue solid 1px;
    border-radius: 8px;
    margin: 60px;
    padding: 20px;
}

footer {
    color: blue;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    bottom: 0;
    width: 100%;
}

.main {
    padding: 24px;
    margin-top: 14px;
}

h1 {
    text-align: center;
}