body {
    color: #000;
    font-size: large;
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
}

.menu {
    color: white;
    text-align: center;
    overflow: hidden;
    background-color: #0059ff;
    position: fixed;
    text-decoration: none;
    left: 0;
    top: 0;
    height: 100%;
    width: 8%;
    min-width: 110px;
    z-index: 1;
}

.menu a {
    color: white;
    float: none;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    text-shadow: 2px 2px 3px gray;
}

.menu a:visited {
    color: white;
}

h1 {
    padding-top: 140px;
    color:royalblue;
    margin: auto;
    font-size: 6rem;
    text-shadow: 2px 2px 2px black;
}

.post-theme {
    color: blue;
}

.post-title {
    padding-left: 40px;
}

.post-description {
    padding-left: 80px;
}

section {
    border: lightblue solid 1px;
    border-radius: 8px;
    margin: 160px;
    padding: 20px;
    background-color: #f1fdff;
}

footer {
    color: blue;
    background-color: black;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 5%;
    width: 100%;
}

.main {
    /* padding: 24px;
    margin-top: 14px; */
    width: 87%;
    right: 0;
    position: absolute;
}

h1 {
    text-align: center;
}