body {
    color: #000;
    font-size: large;
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    bottom: 0;
}

.menu {
    color: white;
    text-align: center;
    overflow: hidden;
    background-color: #0059ff;
    position: fixed;
    text-decoration: none;
    top: 0;
    width: 100%;
    z-index: 1;
}

.menu a {
    color: white;
    float: none;
    display: inline-block;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    background-color: #347bff;
}

.menu a:visited {
    color: white;
}

h1 {
    padding-top: 260px;
    padding-bottom: 218px;
    color:royalblue;
    font-size: 7rem;
    text-shadow: 1px 1px 2px;
}

.post-theme {
    color: blue;
}

.post-title {
    padding-left: 80px;
}

.post-description {
    padding-left: 160px;
}

section {
    border: lightblue solid 1px;
    border-radius: 8px;
    margin: 60px;
    padding: 20px;
    background-color: #f7feff;
}

footer {
    color: blue;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    bottom: 0;
    width: 100%;
}

.main {
    padding: 24px;
    margin-top: 14px;
}

h1 {
    text-align: center;
}